<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.RequestQueueController"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.parent.ParentMainActivity"
            android:label="@string/title_activity_parent_main" >
        </activity>
        <activity
            android:name=".activity.child.ChildMainActivity"
            android:label="@string/title_activity_child_main" >
        </activity>
        <activity
            android:name=".activity.SignupActivity"
            android:label="@string/title_activity_signup" >
        </activity>
        <activity
            android:name=".activity.parent.ParentAddDiyTaskActivity"
            android:label="@string/title_activity_parent_add_task" >
        </activity>
        <activity
            android:name=".activity.TaskInfoActivity"
            android:label="@string/title_activity_task_info" >
        </activity>
        <activity
            android:name=".activity.child.ChildWishActivity"
            android:label="@string/title_activity_child_wish" >
        </activity>
        <activity
            android:name=".activity.child.ChildDonateActivity"
            android:label="@string/title_activity_child_donate" >
        </activity>
        <activity
            android:name=".activity.SubmitTaskActivity"
            android:label="@string/title_activity_submit_task" >
        </activity>
        <activity
            android:name=".activity.FinishTaskActivity"
            android:label="@string/title_activity_award_task" >
        </activity>
        <activity
            android:name=".activity.child.ChildWishListActivity"
            android:label="@string/title_activity_child_wish_list" >
        </activity>
    </application>

</manifest>
